<div class="ndd-entity-editor__header">
    <titlebar titlebar-title="$ctrl.title" titlebar-icon="'fa fa-user'">
        <titlebar-info>
            <titlebar-info-item titlebar-info-text="$ctrl.subtitle"></titlebar-info-item>
        </titlebar-info>
    </titlebar>
</div>
<div class="ndd-entity-editor__content">
    <img ng-if="$ctrl.isLoading" class="form-utils__spinner" src="~shared/images/spinner.gif" alt="">        
    <div class="ndd-entity-editor__form-content">
        <div class="row">
            <div class="col-sm-6">
                <company-form get-data="$ctrl.formGetData" get-form="$ctrl.getForm"></company-form>
            </div>
        </div>
    </div>
    <div class="ndd-entity-editor__form-footer">
        <button ng-click="$ctrl.save()" class="ndd-button ndd-button--highlighted" type="button">Salvar</button>
        <button ng-click="$ctrl.cancel()" class="ndd-button" type="button">Cancelar</button>
    </div>
</div>