<form name="formSocket" class="form" novalidate>

     <br />   
    <div class="input-field col s8">
        <input id="nome" type="text" required ng-model="$ctrl.socket.nome" />
        <label class="active" for="nome">Nome</label>
    </div>

    <div class="input-field col s8">
        <input id="ip" type="text" required ng-model="$ctrl.socket.ip" />
        <label class="active" for="ip">IP</label>
    </div>

    <div class="input-field col s8">
        <input id="porta" type="text" required ng-model="$ctrl.socket.porta" />
        <label class="active" for="porta">Porta</label>
    </div>

    <div class="input-field col s8">
        <input id="out" type="text" required ng-model="$ctrl.socket.out" />
        <label class="active" for="out">Out</label>
    </div>

</form>