<form name="formCompanies" class="form" novalidate>

     <br />   
    <div class="input-field col s8">
        <input id="nome" type="text" required ng-model="$ctrl.company.nome" />
        <label class="active" for="nome">Nome</label>
    </div>

    <div class="input-field col s8">
        <input id="cnpj" type="text" required ng-model="$ctrl.company.cnpj" />
        <label class="active" for="cnpj">CNPJ</label>
    </div>

    <div class="input-field col s8">
        <input id="ie" type="text" required ng-model="$ctrl.company.ie" />
        <label class="active" for="ie">Inscrição Estadual</label>
    </div>

</form>