<navbar config-offsidebar="$ctrl.configOffsidebar" ></navbar>

 <ndd-sidebar header="false">
    <sidebar-menu>
        <sidebar-option href="app.companies" text="Empresa" icon="fa fa-building-o fa-2x"></sidebar-option>
        <sidebar-option href="app.notes" text="Notas Fiscais" icon="fa fa-file-text-o fa-2x"></sidebar-option>        
        <sidebar-option href="app.generators" text="Gerador De Massa" icon="fa fa-paper-plane fa-2x"></sidebar-option>        
        <sidebar-option href="app.jdbcs" text="JDBC" icon="fa fa-database fa-2x"></sidebar-option>        
        <sidebar-option href="app.sockets" text="Socket" icon="fa fa-plug fa-2x"></sidebar-option>        
    </sidebar-menu>
</ndd-sidebar>

<div class="content" ng-class="{'content--pinned': $ctrl.pinned}">
    <ui-view></ui-view>
</div>

<offsidebar options="$ctrl.configOffsidebar"></offsidebar>