$primary-color: #2fb995;
$background-color: #F5F7FA;
$secondary-color: #E25D41;

$logo-url: "logo.png";
$logo-height: 31px;
$logo-width: 120px;

$navbar-color: white;
$navbar-bg-color: $primary-color;
$navbar-border-width: 0;
$navbar-height: 40px;
$navbar-options-width: 135px;
$navbar-bg-color-hover:#209274;

$offsidebar-bg-color: #0D5F9A;
$offsidebar-bg-color-inner: $primary-color;

$ndd-sidebar-width: 50px;
$ndd-sidebar-width-expand: 240px;

$grid-row-color: #BAE5FF;