<form name="formGenerators" class="form" novalidate>

    <div class="input-field col s8">
        <select ng-options="x.nome for x in $ctrl.note" ng-model="note" ng-required="true" ng-change="$ctrl.selectNote(note)" options-class="{ 'is-eligible' : eligible, 'not-eligible': !eligible }">
            <option value="" disabled selected>{{$ctrl.generator.empresa}}</option>
        </select>
        <label class="">Empresa Emissora</label>
    </div> 

    <div class="col s4">
        <div class="left-align mgTop-25">
            <div id="arquivos">
                <div class="tipoEnvio">
                    <input type="checkbox" id="cancelamento" ng-value="1" ng-model="$ctrl.generator.cancelamento" ng-checked="($ctrl.generator.cancelamento == 1)" />
                    <label for="cancelamento">Cancelamento</label>    
                </div>
                <div class="tipoEnvio">
                    <input type="checkbox" id="ped_ajuste" ng-value="9" ng-model="$ctrl.generator.ped_ajuste" ng-checked="($ctrl.generator.ped_ajuste == 9)" />
                    <label for="ped_ajuste">ped_ajuste</label>
                </div>
            </div>
        </div>
    </div>

    <div class="input-field col s8">
        <input id="destino" type="text" required ng-model="$ctrl.generator.destino" />
        <label class="active" for="destino">Caminho de Destino</label>
      </div>

      <div class="col s4">
        <div class="left-align mgTop-25">
          <div id="tipoEnvioSelect">
            <div class="tipoEnvio">
              <input type="radio" id="envioArquivo" ng-value="1" ng-model="$ctrl.generator.tipoEnvio" ng-checked="($ctrl.generator.tipoEnvio == 1)" />
              <label for="envioArquivo">Arquivo</label>
            </div>
            <div class="tipoEnvio">
              <input type="radio" id="jdbc" ng-value="2" ng-model="$ctrl.generator.tipoEnvio" />
              <label for="jdbc">JDBC</label>
            </div>
            <div class="tipoEnvio">
              <input type="radio" id="socket" ng-value="3" ng-model="$ctrl.generator.tipoEnvio" />
              <label for="socket">Socket</label>
            </div>
          </div>
        </div>
      </div>

    <div class="col s12 center-align">
        <div class="row">
            <div class="col s4">
                <div class="left-align mgTop-25">
                    <div id="tipoEmissao">
                        <input type="radio" id="normal" ng-value="1" ng-model="$ctrl.generator.tipoEmissao" ng-checked="($ctrl.generator.tipoEmissao == 1)" />
                        <label for="normal">Normal</label>

                        <input type="radio" id="contingencia" ng-value="9" ng-model="$ctrl.generator.tipoEmissao" />
                        <label for="contingencia">Contingência</label>
                    </div>
                </div>
            </div>
            <div class="range-field col s8">
                <label class="active" for="agentes" id="lblAgentes">Quantidade de Agentes: 1</label>
                <input type="range" id="agentes" min="1" max="50" ng-model="$ctrl.generator.agentes" />
            </div>
        </div>
    </div>

    <div class="col s12 center-align">
        <div class="row">
            <div class="col s1">
                <a ng-click="$ctrl.btnGerarNovaSerie()" class="btn-floating waves-effect waves-light red" style="margin-top: 17px;">
                    <i class="small material-icons">autorenew</i>
                </a>
            </div>
            <div class="input-field col s3">
                <input id="serie" type='number' step=1 data-length="3" required ng-model="$ctrl.generator.serie" />
                <label id="lblSerie" class="active" for="serie">Serie</label>
            </div>
            <div class="input-field col s3">
                <input id="numero" type='number' step=1 data-length="9" required ng-model="$ctrl.generator.numero" />
                <label id="lblNumero" class="active" for="numero">Número Inicial</label>
            </div>
            <div class="input-field col s3">
                <input id="quantidade" type='number' step=1 required ng-model="$ctrl.generator.quantidade" />
                <label id="lblQuantidade" class="active" for="quantidade">Quantidade de Notas</label>
            </div>
        </div>
    </div>

    <div class="col s12 center-align">
        <div class="row">          
            <div class="input-field col s5">
                <input id="nomenclatura" type="text" required ng-model="$ctrl.generator.nomenclatura" />
                <label id="lblNomenclatura" class="active" for="nomenclatura">Nomenclatura do Arquivo</label>
            </div>
            <div class="input-field col s2">
                <input type='number' step=1 id="fuso" required ng-model="$ctrl.generator.fuso" />
                <label id="lblFuso" class="active" for="fuso">Fuso</label>
            </div>
            <div class="input-field col s2">
                <input id="sleep" type="text" required ng-model="$ctrl.generator.sleep">
                <label id="lblSleep" class="active" for="sleep">Sleep</label>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
</form>